{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:Book:create{% endblock %}

{% block body %}
        <h2>Create Book</h2>
        {{ form_start(form) }}
        <section class="formElement">
            <div class="row form-group">
                <div class="col-sm-2">{{ form_label(form.isbn) }}</div>
                <div class="col-sm-6">{{ form_widget(form.isbn, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-sm-6">{{ form_errors(form.isbn) }}</div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">{{ form_label(form.title) }}</div>
                <div class="col-sm-6">{{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-sm-6">{{ form_errors(form.title) }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ form_label(form.genre_id) }}</div>
                <div class="col-sm-6">{{ form_widget(form.genre_id, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-sm-6">{{ form_errors(form.genre_id) }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ form_label(form.bookDescription) }}</div>
                <div class="col-sm-6">{{ form_widget(form.bookDescription, {'attr': {'class': 'form-control', 'rows': '6','maxlength':'300','col':'40'  }}) }}</div>
                <div class="col-sm-6">{{ form_errors(form.bookDescription) }}</div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">{{ form_label(form.cover_image) }}</div>
                <div class="col-sm-6">{{ form_widget(form.cover_image, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-sm-6">{{ form_errors(form.cover_image) }}</div>
            </div>
            {{ form_row(form.submit,{'attr': {'class': 'btn btn-primary' }}) }}
            {{ form_end(form) }}
        </section>
{% endblock %}
