{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:Book:view{% endblock %}

{% block body %}
    <article class="col-md-6">
        <div class="col-md-3">
            <img
                    class="center-block img-responsive"
                    src="{{ asset('Public/image-uploads/' ~ book.coverImage) }}"
                    alt="cover"
            >
        </div>
        <section class="col-md-9">
            <p><b>Book Isbn:</b> {{ book.isbn }} </p>
            <p><b>Book title:</b> {{ book.title }}</p>
            <p><b>Book author:</b> {{ book.author }}</p>
            <p class="descriptionText"><b>Book Description:</b> {{ book.bookDescription }}</p>
        </section>
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg btn-block createEditForm"
               href="{{ path('review_create', { 'id': book.id,'isbn': book.isbn,  }) }}">Write a review</a>
        </div>
        <section class="col-md-12">
            <h3>Reviews</h3>
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <a class="reviews" href="{{ path('review_view', { 'id': article.id }) }}">
                        <div class="col-md-12">
                            <p>{{ article.summaryReview }}</p>
                            <p><b>{{ article.rating | rating }}</b></p>
                        </div>
                    </a>
                </tr>
                <p><i>Penned by <strong>{{ article.author }}</strong> on {{ article.timestamp|date("m/d/Y") }}</i></p>
            {% endfor %}
        </section>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </article>
{% endblock %}