{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:Book:view{% endblock %}

{% block body %}
    <article class="col-md-6">
        <div class="col-md-3">
            <img
                    class="center-block img-responsive"
                    src="{{ asset('Public/image-uploads/' ~ book.coverImage) }}"
                    alt="cover"
            >
        </div>
        <section class="col-md-9">
            <p><b>Book Isbn:</b> {{ book.isbn }} </p>
            <p><b>Book title:</b> {{ book.title }}</p>
            <p><b>Book author:</b> {{ book.author }}</p>
            <p class="descriptionText"><b>Book Description:</b> {{ book.bookDescription }}</p>
        </section>
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg btn-block createEditForm"
               href="{{ path('review_create', {'isbn': book.isbn,  }) }}">Write a review</a>
        </div>
        <section class="col-md-12">
            <h3>Reviews</h3>
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <a class="reviews" href="{{ path('review_view', { 'id': article.Review.id }) }}">
                        <div class="col-md-12">
                            <p>{{ article.Review.fullReview }}</p>
                            <p><b>{{ article.Review.rating | rating }}</b></p>

                            {% if article.Analysis == "neu" %}
                                <i class="fa fa-meh-o fa-3x" aria-hidden="true"></i>

                            {% elseif article.Analysis == "neg" %}

                                <i class="fa fa-thumbs-down fa-3x" aria-hidden="true"></i>

                            {% elseif article.Analysis == "pos" %}

                                <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>

                            {% endif %}

                        </div>
                    </a>
                </tr>
                <p class="border-bottom"><i>Penned by <strong>{{ article.Review.author }}</strong>
                        on {{ article.Review.timestamp|date("m/d/Y") }}</i>
                    {% if currentUser is not empty %}
                        {% if article.Review.author == currentUser.username %}
                            <a href="{{ path('edit',{'id': article.Review.id}) }}"> Modify</a>
                        {% endif %}
                    {% endif %}
                </p>
            {% endfor %}
        </section>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </article>
{% endblock %}