{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:Book:view{% endblock %}

{% block body %}
    <article class="col-md-6">
        <h1>{{ book.title }}</h1>
        <p>{{ book.coverImage }} </p>
        <p>{{ book.isbn }} </p>
        {#<p> {{ bookReview.review }}</p>#}
        <p>
            {#<small>Created by {{ bookReview.author }} at#}
                {#{{ bookReview.timestamp|date('H:i d/m/y') }}#}
            {#</small>#}
            {#<a href="{{ path('edit',{'id':bookReview.id}) }}">edit</a>#}
        </p>
    </article>
{% endblock %}