{% extends "::base.html.twig" %}

{% block title %}Create review{% endblock %}
{% block body %}
    <h2>Create Review</h2>
    {{ form_start(form) }}
    <section class="formElement">
    {{ form_widget(form.bookId)}}
        <div class="row form-group">
            <div class="col-sm-2">{{ form_label(form.fullReview) }}</div>
            <div class="col-sm-6">{{ form_widget(form.fullReview, {'attr': {'class': 'form-control', 'rows': '6','maxlength':'500','col':'40'  }}) }}</div>
            <div class="col-sm-6">{{ form_errors(form.fullReview) }}</div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">{{ form_label(form.rating) }}</div>
            <div class="col-sm-6">{{ form_widget(form.rating) }}</div>
            <div class="col-sm-6">{{ form_errors(form.rating) }}</div>
        </div>
        {{ form_row(form.submit,{'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_end(form) }}
    </section>
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        document.getElementById("reviewer_reviewbundle_review_bookId").value = urlParams.get('isbn');
    </script>
{% endblock %}
