{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:BookReview:view{% endblock %}

{% block body %}
    <article class="col-md-6">
        {#<h1>{{ book.title }}</h1>#}
        {#<p>{{ bookReview.bookAuthor }} </p>#}
        {#<p>{{ bookReview.summaryReviewer }} </p>#}
        {#<p> {{ bookReview.review }}</p>#}
        <p>
            {#<small>Created by {{ bookReview.author }} at#}
                {#{{ bookReview.timestamp|date('H:i d/m/y') }}#}
            {#</small>#}
            {#<a href="{{ path('edit',{'id':bookReview.id}) }}">edit</a>#}
            {{ form(form) }}
        </p>
    </article>
{% endblock %}