{% extends "::base.html.twig" %}

{% block title %}Review Details{% endblock %}

{% block body %}
    <article class="col-md-6">
        <p> {{ review.summeryReview }}</p>
        <p> {{ review.fullReview }}</p>
        <h1>{{ review.rating | rating(5, "fa-3x") }}</h1>
        <p>
            <small>Created by {{ review.author }} at
                {{ review.timestamp|date('H:i d/m/y') }}
            </small>
        </p>
    </article>
{% endblock %}