{% extends "::base.html.twig" %}

{% block title %}ReviewerReviewBundle:BookReview:view{% endblock %}

{% block body %}
    <h1>{{ bookReview.title }}</h1>
    <p>{{bookReview.bookAuthor}} </p>
    <p>{{bookReview.summaryReviewer}} </p>
    <p> {{bookReview.review }}</p>
    <p><small>Created by {{ bookReview.author }} at
            {{ bookReview.timestamp|date('H:i d/m/y') }}
        </small>
        <a href="{{ path('edit',{'id':bookReview.id}) }}">edit</a>
    </p>
{% endblock %}