{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Uncovered{% endblock %} Uncovered</title>
    {% block stylesheets %}
        {% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
            '../app/Resources/public/css/screen.css'
            '../app/Resources/public/css/iconStyles.css'
            'bundles/starrating/css/rating.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% block javascript %}
    {% javascripts
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    '@StarRatingBundle/Resources/public/js/rating.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navigationBar">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title" href="{{ path('reviewer_review_homepage') }}">Uncovered</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('reviewer_review_homepage') }}">Home</a></li>
                    {% if is_granted('ROLE_USER') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('easyadmin') }}">Admin panel</a></li>
                        {% endif %}
                        <li><a href="{{ path('book_create') }}">Add book</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        <li><a href="{{ path('reviewer_review_homepage') }}">Profile</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    </nav>
    <div class="row">
        <section class="col-md-12">
            {% block body %}{% endblock %}
        </section>
        <section class="col-md-4">
            {% block sidebar %}{% endblock %}
        </section>
    </div>
    <div class="footer">
        {% block footer %}
            <p> Made with love</p>
        {% endblock %}
    </div>
</div>
</body>
</html>