{% extends 'base.html.twig' %}

{% block title %}Your API client{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center">Your API client</h1>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <td>Client ID</td>
                <td>{{ client_id }}</td>

            </tr>
            <tr>
                <td>Client secret</td>
                <td>{{ client_secret }}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <p>Send a POST request to the endpoint "/oauth/v2/token" with the following JSON data in the body:</p>
        <pre>
{
    "grant_type": "password",
    "client_id": "{{ client_id }}",
    "client_secret": "{{ client_secret }}",
    "username": "{{ username }}",
    "password": "YOUR_PASSWORD_HERE"
}
        </pre>
        <p>This will generate a token which can be used to access the Beyond the Cover API by setting the following header:</p>
        <pre>
Authorization: Bearer AUTH_TOKEN_HERE
        </pre>
    </div>
{% endblock %}

