{% extends 'ReviewerReviewBundle::layout.html.twig' %}
{% block body %}
    <section class="searchBar col-md-12">
        <form method="post">
            <div class="col-md-6">
                <input class="form-control searchInfo form-control-lg form-control-borderless" type="search"
                       placeholder="Search  Book title, Book author or ISBN">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-default search">
                    <span class="fa fa-search "></span> Search
                </button>
            </div>
        </form>
    </section>
    <section class="GenreSelection col-md-12">
        <h2>Book Genres</h2>
        {% for genres in genres %}
            <a href="{{ path('book_genre', {'genreId': genres.id} ) }}">
                <div class="col-md-2 icon">
                    <p>{{ genres.genreName }} <br> <i class="{{ genres.genreIcon }}" aria-hidden="true"></i></p>
                </div>
            </a>
        {% endfor %}
    </section>
    <hr>
    <section class="col-md-12 latestAddedReviews">
        <h2>Latest reviews</h2>
        {% for review in bookReviews %}
            <div class="col-md-3">
                <p>{{ review.title }}</p>
                <a href="{{ path('book_view', { 'id': review.id }) }}">
                    <img
                            class="center-block img-responsive"
                            src="{{ asset('Public/image-uploads/' ~ review.coverImage) }}"
                            alt="cover"
                    >
                </a>
                {{ review.rating | rating(5, "fa-2x") }}
                 {{ review.fullReview }}
            </div>
        {% endfor %}
    </section>
    <script>
        $(document).ready(function () {
            $(".search").click(function ($event) {
                event.preventDefault();
                var seachQuey = $(".searchInfo").val().trim();
                if (seachQuey != '') {
                    window.location.href = "/search/" + seachQuey;
                }
            });
        });

    </script>
{% endblock %}

